body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange {
  color: orange;
}
p {
  text-align: justify;
}
h2 {
  font-size: 30px;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  margin-left: 8%;
}
img {
  width: 80%;
}
.hire-btn {
  text-decoration: none;
  background: linear-gradient(to right, lightsalmon, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url('images/top-banner.png');
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url('images/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area {
  background-image: url('images/exp-bg.png');
  background-repeat: no-repeat;
  background-position: left;
}
.experience-container {
  width: 40%;
  margin: 0 5%;
  padding: 0 20px;
  box-shadow: 10px 10px 40px gray;
}
#border-1 {
  border-left: 8px solid;
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
}
#border-2 {
  border-left: 8px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
